<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zöldi-Kovács Róbert</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">Róbert Zöldi-Kovács</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">About myself <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                @Html.ActionLink("Skills", "Skills", "About")
                            </li>
                            <li>
                                @Html.ActionLink("Recommendations", "Recommendations", "About")
                            </li>
                            <li>
                                @Html.ActionLink("Hobbies", "Hobbies", "About")
                            </li>
                            <li>
                                @Html.ActionLink("Contact", "Contact", "About")
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Game Projects <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                @Html.ActionLink("Soulmyst", "Soulmyst", "Projects")
                                @Html.ActionLink("Tap Band", "TapBand", "Projects")
                                @Html.ActionLink("Space Combat", "SpaceCombat", "Projects")

                            </li>
                        </ul>
                    </li>
                    <li>
                        @Html.ActionLink("Business Projects", "Business", "Projects")
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    @RenderSection("header", required: false)

    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
